<!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="restaurant_index">
      <div class="container">
        <div class="content-section-heading text-center">
          <h1 class="ui teal image header">Restaurants</h1>
          <br>
          <br>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/1">
              <span class="caption">
                <span class="caption-content">
                  <h1>Chef's Table</h1>
                  <p class="mb-0">431 W 37th St, New York, NY 10018</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i68.tinypic.com/2ro4x9z.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/2">
              <span class="caption">
                <span class="caption-content">
                  <h1>Peter Luger Steak House</h1>
                  <p class="mb-0">178 Broadway, Brooklyn, NY 11211</p>
                </span>
              </span>
              <img class="img-fluid" src="https://preview.ibb.co/hn2LX0/peter-luger.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/3">
              <span class="caption">
                <span class="caption-content">
                  <h1>Carbone</h1>
                  <p class="mb-0">181 Thompson St, New York, NY 10012</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i68.tinypic.com/sbo9qu.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/4">
              <span class="caption">
                <span class="caption-content">
                  <h1>Uchu</h1>
                  <p class="mb-0">217 Eldridge St, New York, NY 10002</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i63.tinypic.com/2vj4bqu.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-4">
            <a class="portfolio-item" href="/restaurants/5">
              <span class="caption">
                <span class="caption-content">
                  <h1>Root & Bone</h1>
                  <p class="mb-0">200 E 3rd St New York, NY 10009</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i67.tinypic.com/2upakxe.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/6">
              <span class="caption">
                <span class="caption-content">
                  <h1>Turntable</h1>
                  <p class="mb-0">20W 33rd St New York, NY 10001</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i67.tinypic.com/mk9752.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/7">
              <span class="caption">
                <span class="caption-content">
                  <h1>Obao</h1>
                  <p class="mb-0">647 9th Ave New York, NY 10036</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i67.tinypic.com/dvmzpu.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/restaurants/8">
              <span class="caption">
                <span class="caption-content">
                  <h1>La Contena</h1>
                  <p class="mb-0">102 Norfolk St New York, NY 10002</p>
                </span>
              </span>
              <img class="img-fluid" src="http://i65.tinypic.com/v6s0lv.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>
