// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash-image {
  background-image: image-url("session/login.png");
  opacity: 0.8;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
