// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_back_image {
  background-image: image-url("user/user.jpg");
  opacity: 0.8;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup_form {
  margin-left: -150px;
}
